{% extends "base.html" %}
{% block content %}
<h1>メモアプリ</h1>
    <a href="/regist" role="botton">新規登録</a>
    {% if memo_list == [] %}
        <p>メモは登録されていません</p>
    {% else %}
        <table border="1">
            <tr>
                <th>タイトル</th>
                <th>メモ</th>
            </tr>
            {% for memo in memo_list %}
                <tr>
                    <td>{{memo.title}}</td>   
                    <td>{{memo.body}}</td>                 
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
